@import "reset.css";


.nav {
    background-color : #253245;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__bar {
    width: 100%;;
    flex-direction: column;
    padding : 15px 20px;
}
.nav__bar-up {
    display: flex;
    justify-content: space-between;
}
.nav__title {
    display:flex;
    align-items: center;
}
.nav__title .fa-accusoft {
    color:#D99362;
    margin-right: 5px;
}
.nav__title__text {
    color: white;
    font-weight: 600;
}
.nav__bar .fa-bars {
    color:#D99362;
}
.nav__menu {
    margin: 5px 0;
}
.nav__menu span {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 5px 5px;
    margin: 10px 0;
}
.nav__menu span:hover {
    background-color: #D99362;
    border-radius: 5px;
}
.nav__icons {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__icons i {
    margin: 10px 5px;
    margin-top: 25px;
}

@media screen and (min-width:1015px) {
    .nav__bar {
        display: flex;
        flex-direction:unset;
        justify-content: space-between;
        align-items: center;
    }
    .nav__bar .fa-bars {
        display: none;
    }
    .nav__bar-up {
        width:33%;
    }
    .nav__menu {
        text-align: center;
    }
    .nav__menu span {
        display: inline;
    }
    
    .nav__icons {
        width:33%;
        display: flex;
        justify-content: flex-end;
    }
    .nav__icons i {
        margin:0 5px;
    }
}