@import "reset.css";
@import "variable.css";

.nav {
    background-color : #253245;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__bar {
    width: 100%;;
    flex-direction: column;
    padding : 15px 20px;
}
.nav__bar-up {
    display: flex;
    justify-content: space-between;
}
.nav__title {
    display:flex;
    align-items: center;
}
.nav__title .fa-accusoft {
    color:var(--orange);
    margin-right: 5px;
}
.nav__title__text {
    color: white;
    font-weight: 600;
}
.nav__bar .fa-bars {
    color:var(--orange);
}
.nav__menu {
    margin: 5px 0;
    display: none;
}
.nav__menu span {
    color: white;
    padding: 7px 5px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}
.nav__menu span:hover {
    background-color: var(--orange);
    border-radius: 5px;
}
.nav__icons {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.nav__icons i {
    margin: 10px 5px;
    margin-top: 25px;
}

.nav__menu.active,
.nav__icons.active {
    display: flex;
}
.nav__menu.active {
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width:1015px) {
    .nav__bar {
        display: flex;
        flex-direction:unset;
        justify-content: space-between;
        align-items: center;
    }
    .nav__bar .fa-bars {
        display: none;
    }
    .nav__bar-up {
        width:33%;
    }
    .nav__menu {
        text-align: center;
        display: flex;
        margin: 0;
    }
    .nav__menu span {
        display: flex;
        display: inline;
        flex-direction: column;
        align-items: center;
        margin: 0 5px;
        padding: 5px;
        text-align: unset;
    }
    
    .nav__icons {
        width:33%;
        display: flex;
        justify-content: flex-end;
    }
    .nav__icons i {
        margin:0 5px;
    }
}